<div *ngIf="isAccount">
    
    <div class="container-fluid">
        <div class="jumbotron text-info text-center">
          <h1>Account Creation Section</h1>
        </div>
      </div>
      
      <div class="d-flex justify-content-center align-items-center" style="margin-bottom: 50px;">
        <div class="card col-md-6">
          <div class="card-body">
            <form #userForm="ngForm" class="form">
              <div class="form-group">
                <label for="balance" class="text-secondary">Balance Amount:</label>
                <input id="balance" name="balance" [(ngModel)]="bankAccounts.balance" class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label for="accountName" class="text-secondary">Account Name:</label>
                <input id="accountName" name="accountName" [(ngModel)]="bankAccounts.accountName" class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label for="accountNumber" class="text-secondary">Account Number:</label>
                <input id="accountNumber" name="accountNumber" [(ngModel)]="bankAccounts.accountNumber" class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label for="cvv" class="text-secondary">CVV:</label>
                <input id="cvv" name="cvv" [(ngModel)]="bankAccounts.cvv" class="form-control" type="text" />
              </div>
              <div class="form-group">
                <label for="bankName" class="text-secondary">Bank Name:</label>
                <input id="bankName" name="bankName" [(ngModel)]="bankAccounts.bankName" class="form-control" type="text" />
              </div><br>
              <button type="submit" (click)="onSubmit()" class="btn btn-success btn-block">Submit</button>
            </form><br>
          </div>
        </div>
      </div>
      
</div>