<div class="container-fluid">
    <div class="jumbotron text-info text-center">
        <h1>Payment Section</h1>
    </div>
</div>
 
<div class="row">
    <div class="col-md-6 offset-sm-3 text-left">
        <form>
          <div class="form-group">
            <label for="amount" class="text-secondary">Amount : </label>
            <input  id="amount" class="form-control" name="amount" type="text" [(ngModel)]="transactionDto.amount" /><br>
          </div>
          <button type="submit" (click)="onSubmit()" class="btn btn-success btn-block">Submit</button>
        </form>
      </div>
</div>