<div class="listbox">
<div>
    <h5>Users List</h5>
    <p *ngIf="isuser">No Users found</p>
<div *ngFor="let user of userlist" class="boxx">
    <p>{{user.name}} </p>
    <button class="rbutton" (click)="mapmessage(user.id)">Message</button>
</div>
</div>
<div> <h5>Investors List</h5>
    <p *ngIf="isInvestor">No Investors found</p>
<div *ngFor="let investor of investorlist">
    <p>{{investor.name}}</p>
    <button>Message</button>
</div></div>
<div><h5>Charity List</h5>
    <p>No Charities found</p>
<div *ngFor="let charity of charitylist">
    <p *ngIf="isCharity">{{charity.name}}</p>
    <button>Message</button>
</div>
</div>
</div>


