<!-- comment.component.html -->

<div class="comment-form">
  <h3>Add Comment</h3>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name" class="text-secondary">Messages</label>
      <input formControlName="message" id="name" class="form-control" type="text" />
    </div>
    <button type="submit">Submit Comment</button>
  </form>
</div>

<!-- Display existing comments -->
<div class="comment-list">
  <h3>Comments</h3>
  <ul>
    <li *ngFor="let comment of comments">

      <div class="comment-item">
        <p>Username:{{userModel.name}}</p>
        <p>Comment: {{ comment.message }}</p>
        <p>Date: {{ comment.date }}</p>
      </div>
    </li>
  </ul>
</div>


