<!-- comment.component.html -->

<div class="comment-form">
  <h3>Add Comment</h3>
  <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="message">Message:</label>
      <input type="text" formControlName="message">
    </div>
    <button type="submit">Submit Comment</button>
  </form>
</div>

<!-- Display existing comments -->
<div class="comment-list">
  <h3>Comments</h3>
  <ul>
    <li *ngFor="let display of displayComments">
      <div class="comment-item">
        <p><strong>User ID: {{ display.userName}}</strong></p>
        <p>Message: {{ display.message }}</p>
        <p>Date: {{ display.date}}</p>
        <p>Time: {{display.time}}</p>
      </div>
    </li>
  </ul>
</div>