<div *ngIf="isSigned">
    <div class="border">
        <ul class="nav nav-tabs  colour1">
      
          <li class="nav-item">
            <a class="nav-link colour" routerLink='home' 
                 routerLinkActive="active" >Home</a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link colour" routerLink='addpost' 
            routerLinkActive="active" >Add Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colour" routerLink='notification' 
            routerLinkActive="active" >Notification</a>
            
          </li> 
          <li class="nav-item">
            <a class="nav-link colour" routerLink='profile' 
            routerLinkActive="active" >Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colour" routerLink='transactions' 
            routerLinkActive="active" >Transaction</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colour" routerLink='bank-account' 
            routerLinkActive="active" >Bank Account</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colour" routerLink='messageslist' 
            routerLinkActive="active" >Messages</a>
          </li>
          <li class="nav-item">
            <a class="nav-link colour" routerLink='home' 
            routerLinkActive="active" (click)="signOut()" >Sign Out</a>
          </li>
        </ul>
      </div>
</div>


